@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Header*/
 .banner-wrap {
  background-image: url(./assets/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 25%;
  position: absolute;
  top: 0;
}
h1{
  color:#fff;
  letter-spacing: 8px;
  font-family: "Pochaevsk", serif;
  font-weight:lighter;
  font-style:normal;
  
}
.poma {
  padding-top: 40px;
}
 .art {
  margin-right: 97px;
}

.navbar-brand img {
  height: 80px;
  border-radius: 50px;
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.scrolling {
  background: rgb(83, 81, 81);
  opacity: 50%;
  transition: all 0.5s;
}
/* About us section */
.about-us-section {
  background-color: #f9f9f9;
  padding: 50px 0px 35px 0px;
  border-radius: 8px;
 }
 .about-us-image {
  border-radius: 90px;
  overflow: hidden;
 }
 .follow-us {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 27px;
 }
 .follow-us::after {
  content: '';
  display: inline-block;
  width: 38px;
  height: 1px;
  background-color: #000;
  margin-left: 0.5rem;
  vertical-align: middle;
 }
 .socials{
  display: flex;
 }
 .insta-tiktok{
  margin-top: 27px;
  margin-left:8px ;
 }
 .insta-tiktok :hover {
  color:#b0d42d;
  cursor: pointer;
 }
 /* Our Mission section */
 .section-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family:"Poppins", serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
 }
 .content-box {
  background-color: #3D513F; 
  color: #0C0C0E;
  padding: 20px;
  font-weight: normal;
  border-radius: 80px;
  text-align: justify;
 }
 .content-section {
  margin-top: 40px;
 }
 /* Meet the team */
 .meet-the-team{
  padding-left: 32px;
 }
 .slogan{
  font-size: 13px;
 }
 .slogan::before{
  content: '';
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #000;
  margin-right: 0.5rem;
  vertical-align: middle
 }
 .slogan::after{
  content: '';
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #000;
  margin-left: 0.5rem;
  vertical-align: middle
 }
 .team-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
 }
 .team-members{
  margin-left: 60px;
  margin-top: 30px;
 }
 .role-link {
  color: #0C0C0C;
  font-size: 14px;
  text-decoration: none;
  font-family: "Poppins", serif;
 }
 .btn-next{
  background-color: #198754;
  border-radius:30% ;
 }
 
 
 
 

